.container{
    height: 80%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.info{
    text-align: center;
    align-self: center;
    color: white;
}

.img{
    width: 400px;
    height: 400px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    border: 10px solid #435055;
}