.container{
    background-color: #aecbee;
    width: 20em;
    height: 32em;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}

.titulo{
    color: #181823;
}

.link{
    text-decoration-color: #181823;
    cursor: pointer;
}

.datos{
    font-size: 22px;
    margin: 2px 0;
}

.btn{
    width: 100%;
    padding: 5px;
    position: static;
    background-color: rgb(231, 17, 17);
    border-style: none;
    color: white;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}


.btn:hover{
    background-color: rgb(143, 6, 6);
}

.image{
    margin-top: 3px;
}

